@font-face {
    font-family: 'Raleway', sans-serif;
}

body {
    background:lightGray;
    font-family: 'Raleway', sans-serif;
    color:#333333;
}

#automaticResizer { 
	position: relative; 
	overflow: hidden; 
	height: 0pt;
	transition: height 0.8s;
	margin-bottom: 10pt;
	margin-top: 10pt;
}

.alert { 
	margin: 0pt;
	border: 0pt;
}

.textOnImage { 
	text-align: center;
	position: absolute; 
	top: 10pt; 
	left: 0; 
	width: 100%; 
	color:rgba(255,255,255,0.75);
}

#aboutImage {
	height: 250pt;
	background: 
		linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)),
		url("https://dl.dropboxusercontent.com/s/atalzhipluvt400/startup.jpg")
		no-repeat;
	background-size: 100% 100%;
	background-origin: content-box;
	border: 1pt solid lightGray;
	border-radius: 10pt;
}

#thirdImage {
	height: 250pt;
	background: 
		linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)),
		url("https://dl.dropboxusercontent.com/s/qxl6joznaegl3yc/walnut.jpg")
		no-repeat;
	background-size: 100% 100%;
	background-origin: content-box;
	border: 1pt solid lightGray;
	border-radius: 10pt;
}

button:focus {
	outline:0 !important;
}

a:focus {
	outline:0 !important;
}

.footerShadow {
	border-top: 1pt solid gray;
	box-shadow: inset 0 3pt 2pt rgba(0,0,0,.2);
}